.Container_Icon_View {
    width: 150px;
    display: flex;
    justify-content: flex-end;

    
    i {
        font-size: 15px;
        cursor: pointer;
        margin-top: -29px;
    }
}

.Label {
    width: 75%;
}