//Cores customizadas:
$color3: #6610f2;
$color4: #4e50a8;
$color5: #88a0c8;
$color6: #38417c;

//Cores Padrões Bootstrap:
$blue:    #0d6efd !default;
$red:     #dc3545 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$cyan:    #0dcaf0 !default;

$primary:   $blue !default;
$success:   $green !default;
$info:  $cyan !default;
$warning:   $yellow !default;
$danger:    $red !default;